{% extends 'main/base.html' %}

{% block title%} Страница про нас {% endblock %}
{% block register %}
<div class="col-md-3 text-end">
    <button type="button" class="btn btn-outline-primary me-2">
        <ya-tr-span data-index="17-0" data-translated="true" data-source-lang="en" data-target-lang="ru"
                    data-value="Login" data-translation="Вход" data-ch="0" data-type="trSpan">Вход
        </ya-tr-span>
    </button>
    <a href="{% url 'register' %}">
        <button type="button" class="btn btn-primary">
            <ya-tr-span data-index="17-1" data-translated="true" data-source-lang="en" data-target-lang="ru"
                        data-value="Sign-up" data-translation="Регистрация" data-ch="0" data-type="trSpan"
                        data-selected="false">Регистрация
            </ya-tr-span>
        </button>
    </a>
</div>{% endblock %}


{% block content%}
<div class="row">
    <div class="col-xl-5 col-md-8">

        <div class="h2 -blue- -last-">
            Комплекс услуг в сфере недвижимости
        </div>

        <div class="text_p">Кадастровая палата предоставляет сведения, содержащиеся в Едином государственном реестре
            недвижимости (ЕГРН).<br>
            <br>
            Работает в сфере кадастрового учета, регистрации прав собственности и сделок с недвижимостью, оказывает
            связанные с этим услуги населению и бизнесу в каждом регионе России.<br>
            <br>
            Ведет кадастровые карты,&nbsp;определяет координаты точек границ земельных участков.<br>
            <br></div>
        <div class="row service_link-list -default- -blue-">
            <div class="col-auto service_link-wrapper">
            </div>
        </div>
        <div class="service-block_bg"
             style="background-image:url('/local/templates/kadastr/img/kadastr-about.png');"></div>
    </div>
    <div class="col-xl-7 col-md-4"></div>
</div>
<article class="post">
     <h1>Что нужно знать про кадастровую палату</h1>
    <div class="entry">


        <index>
            <div class="ah-content">
                <div class="flat_pm_start"></div>
                <p>Кадастр&nbsp;— это единый свод документов, содержащий сведения обо всей недвижимости с&nbsp;целью
                    правильного налогообложения. Все объекты оконченного и&nbsp;неоконченного строительства, а&nbsp;также
                    земельные наделы подлежат обязательному государственному учету. Ведомство, ведущее такой учет&nbsp;—
                    это и&nbsp;есть кадастровая палата.</p>
                <p>Таким образом, этот орган является официальной некоммерческой структурой, специалисты которой
                    занимаются постановкой либо снятием с&nbsp;учета объектов недвижимости. Учреждение «Федеральная
                    кадастровая палата Федеральной службы государственной регистрации, кадастра и&nbsp;картографии»
                    имеет 81&nbsp;филиал и&nbsp;два кол-центра в&nbsp;регионах России. Это сделано для комфорта
                    населения и&nbsp;оптимизации сроков работы.</p>
                <h2><span id="i">Виды деятельности, которыми занимается ведомство</span></h2>
                <p><strong>Кадастровая палата&nbsp;— подконтрольный орган Росреестра, реализующий его обязанности в&nbsp;области
                    официального установления прав собственности на&nbsp;объекты недвижимого имущества и&nbsp;операций с&nbsp;ними.</strong>
                    Учреждение занимается кадастровой оценкой и&nbsp;проведением учета всех объектов недвижимости&nbsp;—
                    сооружений, строений, зданий, помещений и&nbsp;т.д.</p>
                <p data-flat-attr="p-img"><img data-flat-attr="img" class="aligncenter size-full wp-image-367"
                                               src="https://mirkadastra.ru/wp-content/uploads/2016/10/kadastrovaya-palata-01.jpg"
                                               alt="Кадастровые карты" width="640" height="427"
                                               srcset="https://mirkadastra.ru/wp-content/uploads/2016/10/kadastrovaya-palata-01.jpg 640w, https://mirkadastra.ru/wp-content/uploads/2016/10/kadastrovaya-palata-01-300x200.jpg 300w"
                                               sizes="(max-width: 640px) 100vw, 640px"></p>
                <ol>
                    <li>Главные виды деятельности:
                        <ul>
                            <li>Управляет Государственным кадастром недвижимости (учитывает объекты недвижимого
                                имущества и&nbsp;участки земли, обеспечивает предоставление сведений, входящих в&nbsp;Государственный
                                кадастр).
                            </li>
                            <li>Формирует, систематизирует и&nbsp;хранит документы, входящие в&nbsp;Государственный
                                кадастр недвижимости.
                            </li>
                            <li>Ведет организацию приема и&nbsp;выдачи документов с&nbsp;целью осуществления регистрации
                                права собственности на&nbsp;недвижимое имущество и&nbsp;операций с&nbsp;ним.
                            </li>
                            <li>Управляет Единым государственным реестром объектов капитального строительства (в&nbsp;том
                                числе, неоконченного).
                            </li>
                            <li>Занимается разделением земель&nbsp;РФ на&nbsp;кадастровые кварталы и&nbsp;районы.</li>
                            <li>Осуществляет сохранность государственной тайны и&nbsp;конфиденциальность личных
                                данных.
                            </li>
                            <li>Организует телефонное обслуживание на&nbsp;местах для заинтересованного населения.</li>
                        </ul>
                    </li>
                    <li>Второстепенные виды деятельности (ориентированы на&nbsp;улучшение качества оказываемых услуг):
                        <ul>
                            <li>Информационные услуги (занимается разъяснительной работой, проводит семинары, лекции,
                                консультации населения.)
                            </li>
                            <li>Выясняет мнение населения путем осуществления соц. опросов.</li>
                            <li>Предоставляет в&nbsp;аренду или краткосрочное пользование недвижимость, имеющуюся в&nbsp;оперативном
                                управлении.
                            </li>
                            <li>Предоставляет возможность копирования и&nbsp;сканирования документов.</li>
                            <li>Выезд на&nbsp;дом к&nbsp;гражданину с&nbsp;целью сбора и&nbsp;доставки документов
                                (организуется бесплатно для ветеранов и&nbsp;инвалидов ВОВ, граждан 1-ой и&nbsp;2-ой
                                группы инвалидности).
                            </li>
                        </ul>
                    </li>
                </ol>

                <h2><span id="i-2">Функции и&nbsp;обязанности кадастровой палаты</span></h2>
                <ul>
                    <li>Принимать у&nbsp;населения документы для постановки и&nbsp;снятия с&nbsp;учета объектов
                        недвижимости и&nbsp;участков земли, проверять правильность их&nbsp;оформления и&nbsp;комплектацию.
                    </li>
                    <li>Ставить и&nbsp;снимать с&nbsp;учета объекты, вносить изменения в&nbsp;описание объектов, уже
                        состоящих на&nbsp;учете.
                    </li>
                    <li>Предоставлять данные из&nbsp;государственного кадастра в&nbsp;форме выписки с&nbsp;описанием
                        объектов недвижимости по&nbsp;заявлению граждан или предприятий.
                    </li>
                    <li>Проверять подающиеся документы о&nbsp;межевании участков.</li>
                    <li>Запрашивать в&nbsp;официальном порядке необходимые для ведения учета сведения в&nbsp;различных
                        учреждениях, у&nbsp;юридических и&nbsp;частных лиц, у&nbsp;органов власти.
                    </li>
                    <li>Проводить или отказывать в&nbsp;осуществлении кадастрового учета, приостанавливать на&nbsp;время
                        такую процедуру.
                    </li>
                    <li>Оформлять, обрабатывать и&nbsp;хранить документы, имеющие отношение к&nbsp;Государственному
                        кадастру недвижимости.
                    </li>
                    <li>Рассматривать заявления частных лиц и&nbsp;организаций по&nbsp;вопросам своей компетенции,
                        решать их&nbsp;и&nbsp;давать ответы.
                    </li>
                    <li>Проводить консультационную и&nbsp;разъясняющую деятельность среди населения.</li>
                </ul>

                <h2><span id="i-3">Услуги, предоставляемые населению</span></h2>
                <ul>
                    <li>В&nbsp;рамках управления Государственным кадастром недвижимости можно подать заявление
                        (бесплатно).
                        <ul>
                            <li>о&nbsp;взятии на&nbsp;учет объекта недвижимости;</li>
                            <li>о&nbsp;снятии недвижимой собственности с&nbsp;кадастрового учета;</li>
                            <li>о&nbsp;смене адреса владельца;</li>
                            <li>о&nbsp;внесении изменений, произошедших с&nbsp;объектом (кроме смены адреса);</li>
                            <li>о&nbsp;предоставлении к&nbsp;заявлению добавочных документов;</li>
                            <li>о&nbsp;внесении корректировок, в&nbsp;связи с&nbsp;технической ошибкой в&nbsp;границах
                                объекта;
                            </li>
                            <li>о&nbsp;поправке кадастровой ошибки;</li>
                        </ul>
                    </li>
                    <li>Получить данные из&nbsp;Единого гос. реестра прав на&nbsp;недвижимость и&nbsp;сделок с&nbsp;ней
                        (платно).
                    </li>
                    <li>Получить информацию из&nbsp;государственного кадастра недвижимости (платно).</li>
                </ul>

                <h2><span id="i-4">Как и&nbsp;где оказываются услуги</span></h2>
                <ul>
                    <li>в&nbsp;учреждениях кадастровой палаты и&nbsp;Росреестра;</li>
                </ul>
                <p>Контакты близлежащего филиала можно найти на&nbsp;общедоступном сайте Федеральной кадастровой палаты.
                    Для ускорения процесса на&nbsp;прием можно записаться при помощи специального сервиса.</p>
                <ul>
                    <li>в&nbsp;МФЦ (многофункциональных центрах);</li>
                </ul>
                <p>Обслуживание населения происходит по&nbsp;принципу «одного окна», центр имеет право на&nbsp;оказание
                    основных официальных услуг Росреестра и&nbsp;других федеральных служб (например, налоговая).</p>
                <ul>
                    <li>почтовое отправление;</li>
                </ul>
                <p>Документы, требующиеся для предоставления услуги, можно отправить почтой на&nbsp;адрес филиала вашего
                    региона или в&nbsp;головной отдел&nbsp;г. Москвы.</p>
                <ul>
                    <li>выездное обслуживание;</li>
                </ul>
                <p>Сдать и&nbsp;получить документы можно дистанционно. Сотрудники службы выезжают на&nbsp;дом в&nbsp;обозначенное
                    время после оплаты услуги. Для инвалидов и&nbsp;ветеранов ВОВ, лиц 1-ой и&nbsp;2-ой группы
                    инвалидности услуга оказывается бесплатно.</p>
                <ul>
                    <li>в&nbsp;электронном варианте;</li>
                </ul>
                <p>На&nbsp;сайте Росреестра можно заказать получение основных услуг онлайн.</p>

                <div class="flat_pm_end"></div>
            </div>
        </index>

    </div>
</article>{% endblock %}