{% extends 'main/base.html' %}

{% block title%} Контакты {% endblock %}

{% block content%}
 <b>Почтовый адрес:</b>&nbsp;<span style="background-color: white;">107078, г. Москва, Орликов переулок, д. 10, стр. 1</span>
</p>
<p align="JUSTIFY">
 <b>Телефон:</b>&nbsp;8 (495) 587-80-80
</p>
<p align="JUSTIFY">
 <b>Факс:</b>&nbsp;8 (495) 587-80-80 доб. 6&nbsp;
</p>
<p align="JUSTIFY">
 <b>E-mail: </b><a href="mailto:federal@kadastr.ru">federal@kadastr.ru</a>
</p>
<p align="JUSTIFY">
 <b>Сайт:&nbsp;</b><a href="http://kadastr.ru/">http://kadastr.ru/</a>
</p>
<p align="JUSTIFY">
 <br>
</p>
{% endblock %}