{% extends 'main/base.html' %}

{% block title%} {{title}} {% endblock %}

{% block content%}
<div class="news__left static_page_content static_page_content_structur_subord_page">
    <div class="title title__news">
        <h3>ФГБУ «Федеральная кадастровая палата Федеральной службы государственной регистрации, кадастра и картографии»</h3>
    </div>

    <div class="news__content-text" id="">
                    <div>

            </div>
                        <br>
        <p align="JUSTIFY">
<p align="JUSTIFY">
 <b> Руководство ФГБУ "ФКП Росреестра"</b>
</p>
<p align="JUSTIFY">
	 Директор:&nbsp;<b>Владислав Леонидович Жданов</b>
</p>
<p align="JUSTIFY">
	 Федеральная кадастровая палата (ФГБУ «ФКП Росреестра») – подведомственное учреждение&nbsp; Росреестра. Учреждение образовано в марте 2001 года, с 2009 года находится в ведении Росреестра. Филиалы Федеральной кадастровой палаты действуют в каждом регионе России.
</p>
<p class="MsoNormal" style="text-align: justify;">
	 Федеральная кадастровая палата обеспечивает реализацию полномочий Росреестра в сфере государственной регистрации прав на недвижимое имущество и сделок с ним, кадастрового учета объектов недвижимости и кадастровой оценки в соответствии с законодательством Российской Федерации.
</p>
<p class="MsoNormal" style="text-align: justify;">
	 Учреждение обеспечивает ведение Единого государственного реестра недвижимости в части внесения сведений о границах зон с особыми условиями использования территории, объектов культурного наследия, границ субъектов РФ, муниципальных образований, населенных пунктов и других объектов.
</p>
<p class="MsoNormal" style="text-align: justify;">
	 Федеральная кадастровая палата предоставляет сведения из Единого государственного реестра недвижимости, принимает заявления о кадастровом учете и (или) регистрации прав, определяет кадастровую стоимость при образовании объектов недвижимости или при изменении их характеристик.
</p>
<p class="MsoNormal" style="text-align: justify;">
	 Чтобы сделать получение услуг более удобным, в структуре Федеральной кадастровой палаты действует&nbsp;Ведомственный центр телефонного обслуживания (ВЦТО). Операторы ВЦТО в круглосуточном режиме предоставляют консультации, помогают предварительно записаться на прием и узнать статус заявления, сообщают справочную информацию.
</p>
<p class="MsoNormal" style="text-align: justify;">
	 Также для удобства заявителей в учреждении организовано&nbsp;выездное обслуживание&nbsp;по предоставлению услуг Росреестра и курьерская доставка документов.
</p>
<p class="MsoNormal" style="text-align: justify;">
	 Федеральная кадастровая палата активно взаимодействует с профессиональным сообществом – кадастровыми инженерами, оказывает им консультативную и методическую помощь. Также учреждение предоставляет информацию региональным органам власти и органам местного самоуправления в части получения услуг Росреестра.
</p>
<p class="MsoNormal" style="text-align: justify;">
	 В 2016 году Федеральная кадастровая палата создала собственный Удостоверяющий центр, который выдает сертификаты электронной подписи. Таким образом, учреждение расширяет возможности получения услуг в электронном виде – более удобных и доступных для заявителей. С помощью сертификатов электронной подписи, выданных удостоверяющим центром, можно воспользоваться государственными услугами Росреестра и других ведомств.
</p>
    </div>
</div>

{% endblock %}
